streamlit
langchain
pinecone-client
python-dotenv
sentence-transformers
langchain_experimental
openai
pypdf
langchain_openai
PyPDF2
google-cloud-aiplatform
google-cloud-storage
oauth2client
langchain-pinecone
presidio-analyzer
presidio-anonymizer
mysqlclient
sqlalchemy==2.0.27
psycopg2-binary
pkgconfig


# duckduckgo-search
# apache-airflow
# apache-airflow-providers-google